version: '3.1'

networks:
  main:

services:
  nginx-ocfl:
    build: .
    # image: mikelynch/nginx-ocfl:v1. 
    ports:
      - "8089:8089"
    expose:
      - "8089"
    networks:
      - main
    volumes:
      - "../oni-indexer/working/:/etc/share/nginx/html/ocfl"

  solr:
    image: solr
    ports:
      - "8983:8983"
    expose:
      - "8983"
    networks:
      - main
    volumes:
      - "./test_solr/:/opt/solr/server/solr/grants"
    command: solr-precreate grants
    logging:
        driver: none

  express-aaf:
    build: ../express-aaf
    ports:
      - "8080:8080"
    expose:
      - "8080"
    networks:
      - "main"
    

